# Ignore everything by default
*

# Allow README
!README
!README.md

# Allow Jupyter notebooks
!*.ipynb
# Allow Excel datasets
!datasets/*.xlsx
!datasets/*.xls
!winequality-red.csv
!auto-mpg.csv
!bank.csv
!Boston_housing.csv
!breast_cancer.csv
!concrete_data.csv
!Ozone.csv
!paddydataset.csv
!parkinsons.csv
!winequality-white.csv
!understanding.csv
# Allow RLT models folder
!plots/
!plots/**
!script/
!script/**
!dso2/
!dso2/**
!dso2_part2/
!dso2_part2/**
# Allow specific Python files
!preparation_data.py
!understanding_data.py
!scenarios.py
!run_rlt.py
!rlt_module2.py
!rlt_simulation_testing.py
!rlt_module.py
!run_real_datasets.py
!Enhanced_rlt.py

# Allow .gitignore itself
!.gitignore
